.card {
  position: relative;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  background-color: var(--cardColor);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
}

.card > h2 {
  margin-right: 40px;
}

.answerButton {
  text-decoration: none;
  align-self: center;
  margin: 20px;
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px 15px;
}

.answer {
  align-self: center;
}

.hidden {
  display: none;
}

.favorite {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
}

.favoriteSelected {
  background-image: url(../assets/bookmarkChecked.svg);
  background-size: contain;
}

.tags {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.tag {
  background-color: var(--lightGrey);
  border-radius: 25px;
  border: 1px solid black;
  /* color: #fff; */
  padding: 5px 10px;
  margin: 10px 0 0 5px;
}
