* {
  font-family: sans-serif;
  box-sizing: border-box;
  color: black;
  text-decoration: none;
}

body {
  margin: 0;
  background-color: rgb(239, 239, 239);
}

main {
  padding: 90px 10px;
  height: 100%;
}
header {
  width: 100vw;
  text-align: center;
  position: fixed;
  top: 0;
  border-bottom: 1px solid black;
  z-index: 20;
  background-color: #fff;
}

.card {
  position: relative;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 15px;
  border: 1px solid rgb(122, 122, 122);
  border-radius: 15px;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
}
h2 {
  margin-top: 0;
}

.answerButton {
  text-decoration: none;
  align-self: center;
  margin: 20px;
}

.answer {
  align-self: center;
}

.hidden {
  display: none;
}

.favorite {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 40px;
}

.favorite:active {
  background-image: url(../assets/star.png);
  background-position: center;
  background-size: contain;
}

.answerButton {
  border: 3px solid black;
  border-radius: 15px;
  padding: 10px 15px;
}

.tags {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.tag {
  background-color: grey;
  border-radius: 25px;
  color: #fff;
  border: 2px solid black;
  padding: 5px 10px;
  margin: 10px 10px 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: white;
  border-top: 1px solid grey;
}

#navLinks {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;
}

#navLinks li {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navButton {
  height: 50px;
  margin: 15px;
}

.active {
  background-color: rgb(110, 110, 110);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
